<%- include('includes/head.ejs') %>
	</head>

	<body>
		<%- include('includes/navigation.ejs') %>
			<h1>Server side error occured!</h1>

			<% if (error) { %>
				<p>
					<%= error.message %>
				</p>

				<% } %>

					<%- include('includes/end.ejs') %>