extends layouts/main-layout.pug
block styles   
  link(rel='stylesheet' href='../css/main.css')
block content 
  main.add-product__main
    form.add-product__form(action='/admin/product' method='post')
      label.add-product__form-label(for='title') Title
      input#title.add-product__form-input(type='text' name='title' value="New Product")
      label.add-product__form-label(for='title') Price
      input#title.add-product__form-input(type='number' name='price' min="1" step=".1" value="10.0")
      button.add-product__form-btn(type='submit') Submit
